<%= link_to "Back", city_path(@ticket.city_id) %>

<% if current_user && current_user.admin %>
	<h1>Editing ticket <%= @ticket.name %></h1>
	<%= render 'form',  path: ticket_path(@ticket), method: :patch, btn_name: 'Update ticket' %>
<% else %>
	<h1>Unauthorized Acces</h1>
<% end %>